body {
	background-color: black;
	color: lightgrey;
	font-size: 1.05em;
	line-height: 1.25em;
}
a {
	color: lightgrey;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: grey;
}
img {
	width: 100%;
}
h2 {
	font-size: 2em;
	line-height: 1.15em;
	margin: 20px 0 ;
}
